<h2>Add Post</h2>
<div class="card card-body mb-3">
  <form>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="currentPost.name" #name>
    </div>
    <div class="form-group">
      <label>Body</label>
      <input type="text" class="form-control" [(ngModel)]="currentPost.username" name="username" #username>
    </div>
    <input type="hidden" name="id" [(ngModel)]="currentPost.id">
    <button *ngIf="!isEdit" (click)="addPost(name.value, username.value)" class="btn btn-dark btn-block">Add Post
    </button>
    <button *ngIf="isEdit" (click)="updatePost()" class="btn btn-warning btn-block">Update</button>
  </form>
</div>
